@using SoftyPinko.Models
@model List<Comment>
<div class="container">
    <h1>Comments</h1>
    <a asp-action="Create" class="btn btn-primary mb-3" >Create</a>
    <table  class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Text</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Position</td>
                    <td>@item.Text</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                    <td style="width:50px">
                        <img width="100%" src="~/upload/@item.ImgUrl" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>